.all{
    height: 100%;
    width: 100%;
    background-image: url(https://oir.mobi/uploads/posts/2021-03/1616963578_18-p-serii-fon-20.jpg);
    background-size: cover;
    background-color: #74992e;
}
.allc{
    height: 100%;
    width: 65%;
    border: 1px solid white;
    margin: 0 auto;
}
.allcc{
    height: 15%;
    width: 99%;
    border: 1px solid white;
    margin: 0 auto;
    
}  
.allcc h1 {
       font-family:Lucida Console;
     font-size: 22pt;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    color: white;
}
.allccc{
    height: 15%;
    width: 99%;
    border: 1px solid white;
    margin: 0 auto;
    
}
.pust{
    height: 5%;
    width: 100%;
}

.tin {
    width: 98%;
    height: 25%;
    flex-direction: row ;
    border: 1px solid white;
}
.tinf {
    display: flex;
    background-image: url(fff.jpg);
     height: 100%;
    width: 45%;
    border: 1px solid white;
    flex: 1 0 auto;
        float: left;
     background-size: cover;    
}
.tint {
      display: flex;
    font-family:Lucida Console;
     font-size: 16pt;
    height: 100%;
    color: white;
    flex: 1 0 auto;
    width: 45%;

    float: right;
}
